<!DOCTYPE html>
<html>
<head>
	<title>My Page</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>

	<h1>Hey Babe</h1>
	<h2>Hello Babe</h2>

	<ul>
		{% for movie in movies %}
           <li>{{movie}}: {{movies[movie]}}</li>
          {% endfor %}
    </ul>

    <table>
    	
    	<tr>
    		<th>Movie</th>
    		<th>Duration</th>
    	</tr>

    	{% for movie,duration in movies.items() %}
    	<tr>
    		<td>{{movie}}</td>
    		<td>{{duration}}</td>
    	</tr>
    	{%endfor%}
    </table>
</body>
</html>